
@media (min-width:0px) and (max-width:679px){
    .banners {
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .banner_text {
        order: 2;
    }
    .banner_text h2 {
        font-size: 20px;
    }
    .banner_text p {
        font-size: 14px;
        text-align: justify;
    }
    .banner_text button {
        font-style: 14px;
    }
    .banner_image {
    }
    .collections {
        grid-template-columns: 1fr;
        margin: 20px;
    }
    .contacts {
        grid-template-columns: 1fr;
    }
}
@media (min-width:680px) and (max-width:839px){
    .banner_text h2 {
        font-size: 40px;
    }
    .collections {
        grid-template-columns: 1fr;
        margin: 20px;
    }
    .contacts {
        grid-template-columns: 1fr;
    }
}

@media (min-width:840px) and (max-width:1100px){
    .menubar ul li {
        padding: 10px 10px;
    }
    .banner_text h2 {
        font-size: 40px;
    }
    .collections {
        grid-template-columns: 1fr 1fr;

    }
    
}