@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.section_title {
    font-size: 28px;
    font-weight: 600;
    color: #3a3a3a;
    display: flex;
    justify-content: center;
}

/* ----------------
common css---------
---------------- */
.container {
    width: 1100px;
    margin: 0 auto;
}
/*------------------
header part --------
------------------ */

.navber {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 80px;
    align-items: center;
}
.logo h2 {
    font-size: 24px;
    font-weight: 700;
}
.menubar {
    display: flex;
}
.menubar li {
    text-decoration: none;
    list-style: none;
    padding: 20px 20px;
}
.menubar li a {
    color: black;
    font-size: 16px;
}

/* ---------------
banner part-------
--------------- */

.banners {
    display: flex;
    padding-bottom: 50px;
}
.banner_text {
    align-items: flex-start;
    padding: 50px 60px 0 0;
}
.banner_text h2 {
    font-size: 52px;
    font-weight: 700;
}
.banner_text p {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
}
.banner_text a {
    font-size: 16px;
    font-weight: 700;
    padding: 10px  25px;
    border-radius: 30%;
    background: #E02C6D;
    color: #fff;
}
.banner_image {
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*----------------
Popular collection
--------------- */
.popular {
    margin-top: 50px;
}
.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 50px 0;
}
.collection {
    padding: 15px;
    box-shadow: 0 0 15px 10px #78788552;
}
.collection h3 {
    font-size: 28px;
    font-weight: 500;
    padding-top: 15px;
}
.collection h4 {
    font-size: 28px;
    font-weight: 400;
    padding: 5px 0;
}
.collection p {
    font-size: 14px;
    font-weight: 400;
    color: #787885;
    padding-right: 50%;
}

.rating {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}
.star {
    color: orange;
    padding-right: 20px;
}
.popular h4 {
    color: #E02C6D;
    text-align: right;
    margin-bottom: 30px;
}
.popular h4 i {
    padding-left: 10px;
}

/* -----------------
footer--------------
----------------- */

.footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    text-align: center;
    background-color: rgb(3, 4, 39);
}
.last_section {
    color: #fff;
}
.footer_text h3 {
    font-size: 28px;
    font-weight: 700;
}
.footer_icon  {
    margin-top: 30px;
}
.footer_icon a {
    color: #fff;
    background: rgb(75, 73, 73);
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 48%;

}